.main {
    padding: 2rem;
    
}

.card-container {
    background-color: $white;
    border: solid $dark-gray 3rem;
    display: flex;
    justify-content: space-between;
    gap: $card-padding;
    padding: $card-padding;
}
.card-profile {
    text-align: center;
    padding: $card-padding;

    h1 {
        margin: .5rem;
        color: $darker-gray;
        font-size: $largest;
    }
    img {
        width: 80%;
        border-radius: 50%;
    }
    p {
        font-style: italic;
        font-size: $large;
        color: $darker-gray;
        font-weight: lighter;
        margin: .5rem;
    }
}
    
    
.card-information {
    background-color: $gray;
    padding: $card-padding;
    width: 100%;

    div {
        display: flex;
        gap: 1rem;
    }
    h2 {
        color: $darker-gray;
        font-weight: bold;
        font-size: $medium;
    }
    p {
        color: $darker-gray;
        font-weight: normal;
        align-content:center ;
        font-size: $small;
    }
}
   
